html {
  background-color: grey;
  color: black;
}

body {
  background-color: white;
  text-align: center;
}

header {
  height: 100px;
}

h1 {
  float: left;
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
  margin: 5px;
}