main > section {
 display:flex;
 flex-direction: column;
 justify-content: center;
 justify-content: space-between;
 align-items: center;
  background-color: lightgrey;
  height: 275px;
  width: 200px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

main > section > img {
  height: 150px;
  width: 150px;
  padding: 5px;
  object-fit: contain;

}